<div class="container-fluid bg-dark text-white p-3">
    <footer class="">
        <nav class="d-flex  flex-md-row flex-column justify-content-between container list-style-none">
            <a href="{{ path('app_visitor_legals') }}" class="text-decoration-none text-white d-sm-block text-center">Mentions légales</a>
            <!--<a href="#" class="text-decoration-none text-white text-center">En savoir plus sur les cookies</a> -->
            <a href="{{ path('app_visitor_conditions') }}" class="text-decoration-none text-white text-center">Conditions d'utilisation</a>

            <div class="text-center gap-3">
                <a href="#" class="text-decoration-none text-white mr-3 "><i class="bi bi-linkedin"></i></a>
                <a href="#" class="text-decoration-none text-white "><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-decoration-none text-white "><i class="bi bi-facebook"></i></a>
            </div>
        </nav>

        <p class="text-center pt-3">Site web créé par <a href="https://www.icone-technologies.fr/" class="text-decoration-none text-white  fw-bolder" target="_blank">ICONE TECHNLOGIES</a>©2023</p>

    </footer>
</div>