<div class="container-fluid bg-dark text-white p-3">
    <footer class="">
        <nav class="d-flex  flex-md-row flex-column justify-content-between container list-style-none">
            <a href="{{ path('app_visitor_legals') }}" class="text-decoration-none text-white d-sm-block text-center">Mentions légales</a>
            <a href="#" class="text-decoration-none text-white text-center">En savoir plus sur les cookies</a>
            <a href="#" class="text-decoration-none text-white text-center">Conditions d'utilisation</a>
        </nav>

        <p class="text-center pt-3">Site web créé par <a href="https://www.icone-technologies.fr/" class="text-decoration-none text-white  fw-bolder" target="_blank">ICONE TECHNLOGIES</a>©2023</p>

    </footer>
</div>