{% if serviceCards is not empty %}

<div class="container mt-5 pb-5" id="our-services">

    <h2 class="border-bottom text-center pb-2 pt-5">Nos Services</h2>

    <div class="row mt-5 pt-3">

        {% for serviceCard in serviceCards %}

        <div class="col-md-4">

            <h3 class="text-center">{{ serviceCard.title }}</h3>

            <div class="p-2 border mb-2">
                <img src="{{ asset('./uploads/images/')~serviceCard.filename }}" alt="" class="img-fluid">
            </div>
            <p>
                {{ serviceCard.description }}
            </p>
        </div>

        {% endfor %}

    </div>
</div>

{% endif %}