{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./assets/css/style.css') }}">
{% endblock %}
{% block title %}Transport Proto{% endblock %}

{% block body %}
<main id="home">
    {{ include('visitor/_quotation_modal.html.twig') }}

    {{  include('visitor/_navbar.html.twig') }}

        {% block body_visitor %}{% endblock %}

    {{ include('visitor/_footer.html.twig') }}

</main>
{% endblock %}