{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./assets/css/style.css') }}">
{% endblock %}
{% block title %}Transport Proto{% endblock %}

{% block body %}
<main id="home">

<div class="container-fluid">

    <div class="container-fluid pt-3 px-md-5 px-0">
        <header class="">
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <img src="./assets/image/logo4.jpg" alt="" class="img-fluid" width="244" >



                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="#home">Accueil</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="#our-services">Nos Services</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="#contact-us">Contactez-nous</a>
                    {%if app.user != null %}
                        <a class="me-3 py-2 text-dark text-decoration-none" href="{{ path('app_admin') }}">Administration</a>
                    {% endif %}

                </nav>
            </div>

        </header>
    </div>

</div>



<div class="container-fluid m-0 p-0" style="max-height: 88vh; overflow: hidden">

    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://fastly.picsum.photos/id/22/4434/3729.jpg?hmac=fjZdkSMZJNFgsoDh8Qo5zdA_nSGUAWvKLyyqmEt2xs0" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://fastly.picsum.photos/id/26/4209/2769.jpg?hmac=vcInmowFvPCyKGtV7Vfh7zWcA_Z0kStrPDW3ppP0iGI" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://fastly.picsum.photos/id/43/1280/831.jpg?hmac=glK-rQ0ppFClW-lvjk9FqEWKog07XkOxJf6Xg_cU9LI" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>



<div class="container mt-5 pb-5" id="our-services">

    <h2 class="border-bottom text-center pb-2 pt-5">Nos Services</h2>

    <div class="row mt-5 pt-3">
        <div class="col-md-4">

            <h3 class="text-center">Transport de tourisme</h3>

            <div class="p-2 border mb-2">
                <img src="https://fastly.picsum.photos/id/34/3872/2592.jpg?hmac=4o5QGDd7eVRX8_ISsc5ZzGrHsFYDoanmcsz7kyu8A9A" alt="" class="img-fluid">
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis debitis minus quam ut! Dolor, eaque est hic modi mollitia possimus quisquam quod ratione rerum velit. Enim eos expedita explicabo obcaecati omnis quasi quos unde.
            </p>
        </div>

        <div class="col-md-4">

            <h3 class="text-center">Trajets sécurisés</h3>

            <div class="p-2 border mb-2">
                <img src="https://fastly.picsum.photos/id/41/1280/805.jpg?hmac=W9CWeYdlZisqEfhjuODl83T3lCXAqjUZrOe9iMFPYmI" alt="" class="img-fluid">
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis debitis minus quam ut! Dolor, eaque est hic modi mollitia possimus quisquam quod ratione rerum velit. Enim eos expedita explicabo obcaecati omnis quasi quos unde.
            </p>
        </div>

        <div class="col-md-4">

            <h3 class="text-center">Tarifs personnalisés</h3>

            <div class="p-2 border mb-2">
                <img src="https://fastly.picsum.photos/id/50/4608/3072.jpg?hmac=E6WgCk6MBOyuRjW4bypT6y-tFXyWQfC_LjIBYPUspxE" alt="" class="img-fluid">
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis debitis minus quam ut! Dolor, eaque est hic modi mollitia possimus quisquam quod ratione rerum velit. Enim eos expedita explicabo obcaecati omnis quasi quos unde.
            </p>
        </div>
    </div>

</div>



<div class="container-fluid bg-protoblue text-white mt-5 pb-5" id="contact-us">

    <div class="container">
        <h2 class="border-bottom text-center pb-2 pt-5 pb-2 mb-5">Contactez-nous</h2>

        <div class="row">
            <div class="col-md-7">
                <form action="">
                    <div class="mb-5">
                        <label for="email-form" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email-form" placeholder="name@example.com">
                    </div>

                    <div class="mb-5">
                        <label for="exampleFormControlInput1" class="form-label">Nom et Prénom</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Jean Duval">
                    </div>

                    <div class="mb-5">
                        <label for="reason-form" class="form-label">Motif de contact</label>
                        <select name="reason-form" id="reason-form" class="form-select">
                            <option value="devis">Demande de devis</option>
                            <option value="infos">Renseignements</option>
                            <option value="other">Autre demande</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                </form>
            </div>
            <div class="col-md-5">
                <h3>Transport <span class="fw-bolder">PROTO</span></h3>
                <p>12 avenue Mère Thérésa</p>
                <p>13240 Vitrolles</p>

                <h4><svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8.89286 4.75H6.06818C5.34017 4.75 4.75 5.34017 4.75 6.06818C4.75 13.3483 10.6517 19.25 17.9318 19.25C18.6598 19.25 19.25 18.6598 19.25 17.9318V15.1071L16.1429 13.0357L14.5317 14.6468C14.2519 14.9267 13.8337 15.0137 13.4821 14.8321C12.8858 14.524 11.9181 13.9452 10.9643 13.0357C9.98768 12.1045 9.41548 11.1011 9.12829 10.494C8.96734 10.1537 9.06052 9.76091 9.32669 9.49474L10.9643 7.85714L8.89286 4.75Z"/>
                </svg>
                    <a href="tel:+699212121"  class="text-decoration-none text-white">06 99 21 21 21</a> </h4>
                <h4><svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 7.75C4.75 6.64543 5.64543 5.75 6.75 5.75H17.25C18.3546 5.75 19.25 6.64543 19.25 7.75V16.25C19.25 17.3546 18.3546 18.25 17.25 18.25H6.75C5.64543 18.25 4.75 17.3546 4.75 16.25V7.75Z"/>
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.5 6.5L12 12.25L18.5 6.5"/>
                </svg>
                    <a href="mailto:contact@transport-proto.fr" class="text-decoration-none text-white">contact@transport-proto.fr</a></h4>

                <img src="./assets/image/map.png" alt="" class="img-fluid">

            </div>
        </div>


    </div>


</div>


<div class="container-fluid bg-dark text-white p-3">
    <footer class="">
        <nav class="d-flex  flex-md-row flex-column justify-content-between container list-style-none">
            <a href="#" class="text-decoration-none text-white d-sm-block text-center">Mentions légales</a>
            <a href="#" class="text-decoration-none text-white text-center">En savoir plus sur les cookies</a>
            <a href="#" class="text-decoration-none text-white text-center">Conditions d'utilisation</a>
        </nav>

        <p class="text-center pt-3">Site web créé par <a href="https://www.icone-technologies.fr/" class="text-decoration-none text-white  fw-bolder" target="_blank">ICONE TECHNLOGIES</a>©2023</p>

    </footer>
</div>


</main>
{% endblock %}
