{% extends 'admin/base_admin.html.twig' %}

{% block admin_body %}
    <h2>Caroussel </h2>
    <div class="alert bg-warning">
        <i class="bi bi-exclamation-triangle-fill"></i> Afin d'obtenir une mise en page uniforme, assurez vous que vos images aient toutes les mêmes dimensions et ne dépassent pas <b>864px</b> de hauteur. La largeur devrait être de <b>1920px</b>
    </div>
    {{ form(form) }}

    <hr>
    <div class="container-fluid">
        <div class="row">
            {% if images is empty %}
                <div class="alert bg-info">
                    Il n'y a pas encore d'image dans le caroussel, vous pouvez en ajouter grâce au formulaire ci-dessus.
                </div>
            {% else %}
            {% for image in images %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ asset('uploads/images/'~image) }}" alt="" class="img-fluid">
                        </div>
                        <div class="card-footer text-end">
                            <a class="btn btn-danger" href="{{ path('app_admin_caroussel_delete', {id: image.id}) }}">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </div>
                </div>

            {% endfor %}
            {% endif %}
        </div>
            
    </div>
    
{% endblock %}
