{% extends 'admin/base_admin.html.twig' %}

{% block admin_body %}
    <h2>Bienvenue sur notre backoffice ! </h2>
    <p>
        Ici, vous avez le contrôle total sur votre site web. <br>
        Personnalisez facilement les images du carrousel, les informations affichées et les différentes rubriques. <br>
        Notre interface conviviale vous permet de mettre à jour rapidement vos contenus
    </p>
{% endblock %}
